$color-gradient: linear-gradient(168.57deg, #4E4AD9 -3.2%, #BF73AB 101.43%);

$color-primary: #4E4AD9;
$color-primary-dark: #3b37ab;
$color-text: #010440;
$color-secondary-pink: #F288A4;
$color-secondary-pinkdark: #BF73AB;
$color-secondary-orange: #F2BF80;

$color-gray: #999999;
$color-gray-light: #E4E4E4;
$color-white: #FFFFFF;

$box-shadow: 8px 4px 12px rgba(1, 4, 64, .3);
