@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

$poppins: 'Poppins', sans-serif;

h1 {
    font-size: 2em;
    margin: 1em 0;
    font-weight: 700;
}