@import "../colors";

form {
    color: $color-text;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1.5em;
    padding: 2em;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    background-color: transparent;
    border: 1px solid $color-text;
    border-radius: 5px;
    padding: 1em .5em;
    margin: .5em 0;
    text-align: left;
}

input[type=search] {
    padding: .5em;
    border: 1px solid $color-text;
    border-radius: 5px;
}

input[type=number] {
    padding: 1em .5em;
    border: 1px solid $color-text;
    border-radius: 5px;
    width: 100%;
}

label {
    display: inline-block;
    text-align: left;
    width: 100%;
}

button {
    width: 100%;
    margin-bottom: .5em;
}

.loginForm, .registerForm, .sendForm {
    align-self: center;
}

.loginForm__img>img, .registerForm__img>img {
    width: 3em;
    margin: .5em 0;
}

input:focus {
    border: 1px solid $color-primary;
}

select {
    width: 100%;
    padding: 1em .5em;
}