@import "../colors";

form {
    background: $color-white;
    color: $color-text;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 250px;
    padding: 2em;
    box-shadow: $box-shadow;
}

input {
    background-color: transparent;
    border: 1px solid $color-text;
    border-radius: 2px;
    padding: .5em 1em;
    margin: .5em 0;
    text-align: left;
}

label {
    text-align: left;
}

.loginForm {
    align-self: center;
}

.loginForm__img>img {
    width: 3em;
    margin: .5em 0;
}